/* Base styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1;
  color: #333;
}

.app-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

/* Typography */
.app-title {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.app-title .emoji {
  margin-right: 10px;
}

.info-message {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.info-message.red-small-font {
  color: #ff0000;
  font-size: 0.8em;
}

.info-message.red-small-font::before {
  content: "⚠️ ";
  margin-right: 5px;
}

/* Buttons */
.detailed-search-button,
.view-toggle-button,
.share-button,
.current-location-button,
.go-to-top-button {
  font-size: 1rem;
  padding: 10px 10px;
  margin: 10px 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detailed-search-button:hover,
.view-toggle-button:hover,
.share-button:hover,
.current-location-button:hover,
.go-to-top-button:hover {
  background-color: #0056b3;
}

/* Search and filter styles */
.search-expanded {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.filter-section {
  margin-bottom: 15px;
}

.filter-label {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}

/* Map styles */
.map-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

.leaflet-container {
  width: 100%;
  height: 700px;
}

.current-location-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

.current-location-button:hover {
  background-color: #f4f4f4;
}

/* Hospital info styles */
.hospital-info {
  font-size: 0.9rem;
  line-height: 1.2;
}

.hospital-info h2 {
  font-size: 1.1rem;
  margin: 10px 0 10px 0;
}

.hospital-info p {
  margin: 5px 0 10px 0;
}

.hospital-info-main {
  font-size: 0.9rem;
  line-height: 1.2;
}

.hospital-info-details {
  font-size: 0.8rem;
  line-height: 1.2;
}

.hospital-info-details a {
  color: #007bff;
  text-decoration: none;
}

.hospital-info-details a:hover {
  text-decoration: underline;
}

/* HospitalHours component styles */

.hospital-hours {
  margin-top: 3px;
  margin-bottom: 10px;
}

.hospital-hours h4 {
  margin: 3px 0;
  font-size: 0.9em;
}

.hospital-hours-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 5px;
}

.hospital-hours-item {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  line-height: 1.2;
  display: flex;
  align-items: baseline;
}

.hospital-hours-day {
  font-weight: bold;
  margin-right: 3px;
  flex-shrink: 0;
}

.hospital-hours-time {
  flex-grow: 1;
}

.hospital-hours-note {
  font-size: 0.75em;
  color: #666;
  margin-left: 3px;
}

.share-button {
  font-size: 0.9rem;
  padding: 5px 10px;
  margin: 0 0 10px 0;
}


/* Region button styles */
.region-section {
  margin-bottom: 10px; /* Space between region sections */
}

.region-toggle {
  width: 100%; /* Full width */
  padding: 10px 15px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.region-toggle:hover {
  background-color: #e0e0e0;
}

.region-hospitals {
  margin-top: 10px; /* Space between button and hospital list */
}

/* Footer styles */
.footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8em;
  line-height: 1;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.email-obfuscation {
  font-size: 0.9em;
}

/* Responsive design */
@media (max-width: 768px) {
  .leaflet-container {
    height: 500px;
  }

  .app-title {
    font-size: 1.5em;
  }

  .detailed-search-button,
  .view-toggle-button,
  .share-button,
  .current-location-button,
  .go-to-top-button {
    font-size: 1rem;
    padding: 8px 12px;
  }

  .region-toggle {
    font-size: 0.9em;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .leaflet-container {
    height: 400px;
  }

  .app-title {
    font-size: 1.2em;
  }

  .hospital-info {
    font-size: 0.8rem;
  }
  .region-toggle {
    font-size: 0.8em;
  }
}


